@for (data of tableData(); track dataIndex; let dataIndex = $index) {
  <tr>
    @for (column of columnData(); track $index) {
      @if (templatesMap.get(column.field)) {
        <td>
          <div>
            <ng-container
              *ngTemplateOutlet="templatesMap.get(column.field); context: { $implicit: data }"
            />
          </div>
        </td>
      } @else {
        <td>
          <div>
            {{ column.field === 'index' ? dataIndex + 1 : data[column.field]  }}
          </div>
        </td>
      }
    }
  </tr>
}
